:root {

    /*Color variables*/
   --mff-bg: #181818;
   --mff-icon-color: #fff;
   --mff-nav-toolbar-padding: 8px;
   --mff-sidebar-bg: var(--mff-bg);
   --mff-sidebar-color: var(--foreground);
   --mff-tab-border-radius: 0px;
   --mff-tab-color: var(--foreground);
   --mff-tab-font-family: "Noto Sans", sans;
   --mff-tab-font-size: 11pt;
   --mff-tab-font-weight: 400;
   --mff-tab-height: 25px;
   --mff-tab-pinned-bg: var(--color1);
   --mff-tab-selected-bg: var(--color8);
   --mff-tab-soundplaying-bg: var(--color9);
   --mff-urlbar-color: var(--color7);
   --mff-urlbar-focused-color: var(--color7);
   --mff-urlbar-font-family: "Noto Sans", sans;
   --mff-urlbar-font-size: 11pt;
   --mff-urlbar-font-weight: 400;
   --mff-urlbar-results-color: #fff;
   --mff-urlbar-results-font-family: "Noto Sans", sans;
   --mff-urlbar-results-font-size: 11pt;
   --mff-urlbar-results-font-weight: 400;
   --mff-urlbar-results-url-color: var(--color15);

  /* Overriden Firefox variables*/
  --tab-corner-rounding: 7px;
  --button-corner-rounding: 10px;
  --animation-speed: 0.4s;
  --autocomplete-popup-background: var(--mff-bg) !important;
  --default-arrowpanel-background: var(--mff-bg) !important;
  --default-arrowpanel-color: #fefefa !important;
  --lwt-toolbarbutton-icon-fill: var(--mff-icon-color) !important;
  --panel-disabled-color: #f9f9fa80;
  --toolbar-bgcolor: var(--mff-bg) !important;
  --urlbar-separator-color: transparent !important;
  --newtab-textbox-focus-color: #9E7F6D !important;
}

/*
TABS
*/

/* REMOVE MEGABAR START
 * VERSION 1.0.4
 * CODE AT: http://userchrome.wesleybranton.com/megabar
 * RELEASE NOTES: http://userchrome.wesleybranton.com/notes/megabar */
 @-moz-document url(chrome://browser/content/browser.xhtml) {
  /* DISABLE EXPANDING START */
  #urlbar[breakout][breakout-extend] {
      top: 2px !important;
      left: 0 !important;
      width: 100% !important;
  }
  
  #urlbar[breakout][breakout-extend] > #urlbar-input-container {
      top: 2px !important;
      height: var(--urlbar-height) !important;
      padding-block: 0 !important;
      padding-inline: 0 !important;
  }
  
  #urlbar[breakout][breakout-extend] > #urlbar-background {
      animation-name: none !important;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .05) !important;
  }
  /* DISABLE EXPANDING END */
  
  /* REMOVE URL RESULT PADDING START */
  .urlbarView {
      margin-inline: 0 !important;
      width: 100% !important;
  }

  .urlbarView-row {
      padding-block: 0 !important;
  }
  /* REMOVE URL RESULT PADDING END */
  
  /* MOVE URL RESULT TYPE ICON TO LEFT START */
  .urlbarView-type-icon {
      min-width: 16px !important;
      height: 16px !important;
      margin-bottom: 0 !important;
      margin-inline-start: 0 !important;
  }
  
  .urlbarView-favicon {
      margin-inline-start: 0px !important;
  }
  /* MOVE URL RESULT TYPE ICON TO LEFT END */

  /* DISPLAY GO BUTTON WHEN TYPING START */
  #urlbar-input-container[pageproxystate="invalid"] #urlbar-go-button {
      display: block !important;
  }
  /* DISPLAY GO BUTTON WHEN TYPING END */

  /* ALWAYS SHOW PAGE ACTIONS START */
  /* DISABLED BY DEFAULT - UNCOMMENT TO ENABLE */
  /*#pageActionButton {
      display: block !important;
  }*/
  /* ALWAYS SHOW PAGE ACTIONS END */
}
/* REMOVE MEGABAR END */

/* Replace favicon on tabs with close button on hover */
 
.tabbrowser-tab:not(:hover) .tab-close-button{ 
    display:none;    
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button{ 
    display:block !important;
} 
 
.tabbrowser-tab:not([pinned]):hover  .tab-icon-image {
  display: none !important;
}
 
.tabbrowser-tab:hover  .tab-throbber,
.tabbrowser-tab:hover  .tab-icon-image,
.tabbrowser-tab:hover .tab-sharing-icon-overlay,
.tabbrowser-tab:hover  .tab-icon-overlay,
.tabbrowser-tab:hover  .tab-label-container,
.tabbrowser-tab:hover  .tab-icon-sound {
  -moz-box-ordinal-group: 2 !important;
}
 
.tabbrowser-tab .tab-close-button {
  margin-left: -2px !important;
  margin-right: 4px !important;  
}

/**/

/*Changes tab color*/
.tab-background[selected="true"] {
background: var(--mff-bg) !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: none !important;
}

.tab-background {
  border: none !important;
  background: #181818 !important;
}

.tab-line {
  display: none;
}

.tabbrowser-tab[selected="true"] .tab-line {
  display: block;
}

/* Stretch the tab bar to the whole screen width*/
.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: unset !important;
}

.tab-label {-moz-box-flex: 1 !important; text-align: center !important;}


/*Changs tab text font*/
.tab-text {
  font-family: var(--mff-tab-font-family);
  font-weight: var(--mff-tab-font-weight);
  font-size: var(--mff-tab-font-size) !important;
  color: var(--mff-tab-color);
}


/* This positions the tabs under the navigator container */
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}

/* Removes new tab button*/
#tabs-newtab-button {
  display: none;
}

#tabbrowser-tabs {
  --tab-loading-fill: #af9687 !important;
}

.tabbrowser-tab {
  border-radius: var(--mff-tab-border-radius) !important;
  border-width: 0;
  height: var(--mff-tab-height) !important;
  margin-bottom: 4px !important;
  margin-inline-end: 4px !important;
  margin-top: 4px !important;
  max-height: var(--mff-tab-height) !important;
  min-height: var(--mff-tab-height) !important;
}

.tabbrowser-tab[soundplaying="true"] {
  background-color: var(--mff-tab-soundplaying-bg) !important;
}

.tab-icon-sound {
  display: none !important;
}

/* 
TOOLBAR
*/


.urlbar-icon > image {
  fill: var(--mff-icon-color) !important;
  color: var(--mff-icon-color) !important;
}

.urlbarView-row[type="bookmark"] > span{
  color: #929284 !important;
}

.urlbarView-row[type="switchtab"] > span{
  color: #9d7e6c !important;
}

.urlbarView-url, .search-panel-one-offs-container {
  color: var(--mff-urlbar-results-url-color) !important;
  font-family: var(--mff-urlbar-font-family);
  font-weight: var(--mff-urlbar-results-font-weight);
  font-size: var(--mff-urlbar-font-size) !important;
}

/*Removes Fav icons from urlbar search results*/
.urlbarView-type-icon {
  display: none !important;
}

/*Center Search with DuckDuckGo*/
#urlbar-input {
  font-size: var(--mff-urlbar-font-size) !important;
  color: var(--mff-urlbar-color) !important;
  font-family: var(--mff-urlbar-font-family) !important;
  font-weight: var(--mff-urlbar-font-weight)!important;
  text-align: center !important;
}

/*Changes back, foward buttons and removes reload*/

#back-button {
  list-style-image: url("left-arrow.svg") !important;
}

#forward-button {
  list-style-image: url("right-arrow.svg") !important;
}

#reload-button {
    display:none;    
}

/*Changes color*/
toolbar {
  background-image: none !important;
}

#navigator-toolbox, toolbaritem {
  border: none !important;
}

#urlbar-background {
  background-color: #181818 !important;
  border: none !important;
}

.toolbar-items {
  background-color: var(--mff-bg) !important;
  font-family: var(--mff-tab-font-family);
}

tab.tabbrowser-tab {
  overflow: hidden;
}

tab.tabbrowser-tab:hover {
  background-color: var(--mff-bg) !important;
}

tab.tabbrowser-tab:hover .tab.line {
    display:none;
}

image#star-button {
  display: none;
}

/*Hides URL bar go button*/
#urlbar-go-button {
  visibility: hidden;
}

#window-controls{display: none !important; }
